   
body::before {
    display: block;
    content: '';
    height: 60px;
}


   /* this is for the small screen */
   @media(min-width: 768px) {
        .news-input   {
            width: 50%;
        }
     }

